@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #10b981;
    --transition-speed: 0.3s;
}

html {
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
}

body {
    transition: background-color var(--transition-speed), color var(--transition-speed);
}



/* Glassmorphism */
.glass {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .glass {
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb {
    background: #525252;
    /* Neutral 600 */
}

::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #737373;
    /* Neutral 500 */
}

/* Hide header on scroll down, show on up */
.header-hidden {
    transform: translateY(-100%);
}

.header-visible {
    transform: translateY(0);
}